.inc {
  width: 30px;
  border: 1px solid black;
  height: 30px;
  background-color: green;
  color: white;
  border-radius: 50%;
}
.dec {
  border-radius: 50%;
  width: 30px;
  border: 1px solid black;
  height: 30px;
  background-color: rgb(231, 61, 9);
  color: white;
}
